.navigationItem{

	height:65px;
	line-height:65px;
	text-align: center;
  
  *{

    vertical-align:middle;
  }

  .logo{

    text-align:left;
  	img{

      width:60px;
  	}
  }

  .btn-menu{

    outline:none;
    cursor:pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background:#FFF;

    .icon{

      font-size: 20px;
      color: #555;
    }
  }

  .btn-menu.active{

    background:#eee;
  }
  

}